---
import Icon from '../Icon.astro';

interface NavLink {
  name: string;
  url: string;
  external?: boolean;
}

interface Props {
  links: NavLink[];
}

const links = Astro.props.links;
---
<div id="nav-menu-panel" class:list={["float-panel float-panel-closed absolute transition-all right-4 px-2 py-2"]}>
  {links.map(link => (
    <a
      href={link.url}
      class="group flex justify-between items-center py-2 pl-3 pr-1 rounded-lg gap-8 hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)] transition"
      target={link.external ? '_blank' : null}
    >
      <div class="transition text-black/75 dark:text-white/75 font-bold group-hover:text-[var(--primary)] group-active:text-[var(--primary)]">
        {link.name}
      </div>
      {!link.external && (
        <Icon name="chevron-right" class="transition w-5 h-5 text-[var(--primary)]" />
      )}
      {link.external && (
        <Icon name="external-link" class="transition w-3 h-3 opacity-25 -translate-x-1" />
      )}
    </a>
  ))}
</div>
